/* styles.css */
/* Base */
body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #FAFAFA;
  color: #222222;
}

a {
  color: #000;
  text-decoration: none;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
}

p {
  margin-top: 0;
  margin-bottom: 24px;
}

table td {
  vertical-align: top;
}

/* Layout */
.email-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.email-header {
  background-color: #0070f3;
  padding: 24px;
}

.email-body {
  padding: 24px;
  background-color: #FFFFFF;
}

.email-footer {
  padding: 24px;
  background-color: #F6F6F6;
}

/* Specific Class Styling */
.sukuu-learning {
  color: #F6F6F6;
}

.user-name {
  /* Any specific styling for user's name */
}

.activation-code {
  /* Any specific styling for activation code */
}

/* Buttons */
.button {
  display: inline-block;
  background-color: #0070f3;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  padding: 12px 24px;
  border-radius: 4px;
}
